<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
    <head>
        <title>AI Research Assistant by Prash</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
        
        <style>
            /* Loading Spinner Styles */
            .typing-indicator {
                display: none;
                margin: 10px;
                font-style: italic;
                color: #aaa;
                text-align: center;
            }
            .dot {
                height: 7px;
                width: 7px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                animation: pulse 1.5s infinite ease-in-out;
            }
            @keyframes pulse {
                0%, 100% { transform: scale(0.8); opacity: 0.6; }
                50% { transform: scale(1.2); opacity: 1; }
            }
        </style>
    </head>
    
    <body>
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">       
                <div class="col-md-10 col-xl-10 chat">
                    <div class="card">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2040/2040946.png" class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>AI Research Assistant by Prash</span>
                                    <p>Powered by Llama 3 & LangGraph</p>
                                </div>
                                
                                <div class="ml-auto">
                                    <a href="/how-it-works" class="info-link" target="_blank" style="color: rgba(255,255,255,0.8); text-decoration: underline;">
                                        <i class="fas fa-info-circle"></i> How it Works
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div id="messageFormeight" class="card-body msg_card_body">
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2040/2040946.png" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    Hello! I am your AI Research Assistant. What topic would you like me to research today? (eg. "What are the latest advancements in renewable energy?")
                                    <span class="msg_time">Now</span>
                                </div>
                            </div>
                        </div>
                        
                        <div id="loading" class="typing-indicator">
                            Researching<span class="dot"></span><span class="dot"></span><span class="dot"></span>
                        </div>

                        <div class="card-footer">
                            <form id="messageArea" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="Type topic or feedback..." autocomplete="off" class="form-control type_msg" required/>
                                <div class="input-group-append">
                                    <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            $(document).ready(function() {
                $("#messageArea").on("submit", function(event) {
                    const date = new Date();
                    const str_time = date.getHours()+":"+date.getMinutes();
                    var rawText = $("#text").val();

                    var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" class="rounded-circle user_img_msg"></div></div>';
                    
                    $("#text").val("");
                    $("#messageFormeight").append(userHtml);
                    
                    // Show Loading Spinner
                    $("#loading").show();
                    // Auto-scroll to bottom
                    var chatBody = document.getElementById("messageFormeight");
                    chatBody.scrollTop = chatBody.scrollHeight;

                    $.ajax({
                        data: {
                            msg: rawText,   
                        },
                        type: "POST",
                        url: "/get",
                    }).done(function(data) {
                        // Hide Loading Spinner
                        $("#loading").hide();

                        var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://cdn-icons-png.flaticon.com/512/2040/2040946.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
                        $("#messageFormeight").append($.parseHTML(botHtml));
                        
                        // Scroll to new message
                        chatBody.scrollTop = chatBody.scrollHeight;
                    });
                    event.preventDefault();
                });
            });
        </script>
    </body>
</html>